
<%- contentFor('heros') %>
<section class="hero">
  <div class="hero-content">
    <h2>Consulta tu RFC</h2>
    <p>Facil y Rapido</p>
    <a href="/rfc" class="btn btn-primary btn-lg" role="button">Presione Aqui</a>
  </div>
</section>