<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets\css\home2.css">
    <link rel="stylesheet" href="assets/css/rfc.css">
    <link rel="stylesheet" href="assets/css/myStyle.css">
    <link rel="stylesheet" href="assets/css/home.css">

    <title>Bienvenido</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">RFC</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/rfc">Obtener RFC</a>
            <a class="nav-item nav-link" href="/contact">Contactanos</a>
        </div>
    </nav>
    <%- defineContent('heros') %>

    
    <%- defineContent('contact-form') %>
  

</body>

</html>